@using Codesanook.EFNote.Models
@using Codesanook.EFNote.Controllers

@model IEnumerable<Tag>
@{
    ViewData["Title"] = "Tag - index";
}

<div class="secondary-menu">
    <div class="col-12">
        <a class="btn btn-light" href="@Url.Action("Create")" role="button">
            <i class="fa fa-plus-circle"></i> New
        </a>
    </div>
</div>

<div class="main-panel">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th># Notes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Notes.Count()</td>
                        <td>
                            <a class="btn btn-light"
                               href="@Url.Action(
                                    nameof(TagController.Edit),
                                    "Tag", new { id = item.Id}
                                )"
                               role="button">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                            <a class="btn btn-light"
                               href="@Url.Action(
                                    nameof(TagController.Delete),
                                    "Tag", new { id = item.Id}
                                )"
                               role="button">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
